header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards; }

@keyframes smoothScroll {
  0% {
    transform: translateY(-140px); }
  100% {
    transform: translateY(0px); } }
  header .container-fluid .navbar a .logo {
    width: 50%; }
  header .container-fluid .navbar .navbar-toggler {
    border: none;
    margin-right: 10px; }
    header .container-fluid .navbar .navbar-toggler .navbar-toggler-icon {
      color: black; }
  header .container-fluid .navbar .collapse .menu {
    font-family: "Open Sans", sans-serif; }
    header .container-fluid .navbar .collapse .menu .nav-item .nav-link {
      color: black;
      font-size: 15px; }
      header .container-fluid .navbar .collapse .menu .nav-item .nav-link:hover {
        transition: all ease .5s;
        color: #57A167; }
    header .container-fluid .navbar .collapse .menu .dropdown-menu {
      transition: all 1s;
      border: none; }
      header .container-fluid .navbar .collapse .menu .dropdown-menu li {
        text-align: left; }
        header .container-fluid .navbar .collapse .menu .dropdown-menu li .nav-link {
          color: black;
          font-size: 14px; }
          header .container-fluid .navbar .collapse .menu .dropdown-menu li .nav-link:hover {
            background-color: white; }
  header .container-fluid .navbar li a i {
    color: black;
    font-size: 20px;
    justify-content: center; }
    header .container-fluid .navbar li a i:hover {
      color: #57A167; }

.main .carousel-index .carousel .carousel-inner {
  width: 100%; }
  .main .carousel-index .carousel .carousel-inner .carousel-item img {
    width: 1001px;
    height: 350px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .main .carousel-index .carousel .carousel-inner .carousel-item img {
        height: 50vh; } }
  .main .carousel-index .carousel .carousel-inner .carousel-item div h5 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    text-shadow: 1px 3px 3px black, 0 0 1em #57A167, 0 0 0.2em; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .main .carousel-index .carousel .carousel-inner .carousel-item div h5 {
        margin: -5px auto; } }
  .main .carousel-index .carousel .carousel-inner .carousel-item p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto;
    padding: 0;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0px;
    text-shadow: 1px 1px 2px black, 0 0 1em #57A167, 0 0 0.2em; }

.main .servicios .container-fluid .seccionVerde {
  height: 100%;
  background-color: #57A167;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main .servicios .container-fluid .seccionVerde .divEnLinea {
    width: 24rem;
    height: auto;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .main .servicios .container-fluid .seccionVerde .divEnLinea i {
      font-size: 25px;
      padding: 15px 0;
      color: white; }
    .main .servicios .container-fluid .seccionVerde .divEnLinea h3 {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      margin: 10px auto;
      padding: 0;
      font-size: 20px;
      font-weight: 800;
      letter-spacing: 0px; }

.main .productos h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 10px auto;
  padding: 0;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 3px; }

.main .productos .row div .hover {
  width: 200px;
  height: 200px;
  position: relative; }
  .main .productos .row div .hover:before, .main .productos .row div .hover:after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.3;
    transition: all 500ms; }
  .main .productos .row div .hover:before {
    transform: rotate(90deg) translateY(-98px) translateX(0px); }
  .main .productos .row div .hover:after {
    transform: rotate(90deg) translateY(98px) translateX(0px); }
  .main .productos .row div .hover:hover::before {
    transform: rotate(90deg) translateY(-180px) translateX(0px); }
  .main .productos .row div .hover:hover::after {
    transform: rotate(90deg) translateY(180px) translateX(0px); }
  .main .productos .row div .hover:hover h4 {
    transform: translate(-50%, -50%) scale(1); }

.main .productos .row div h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-shadow: 10px 10px 30px 10px black;
  font-size: 18px;
  z-index: 2;
  transition: all 500ms;
  text-shadow: 1px 1px 2px black, 0 0 1em #57A167, 0 0 0.2em #57A167; }

.main .productos .row div img {
  width: 195px;
  height: 197px;
  border-radius: 1.2rem;
  object-fit: cover; }
  @media screen and (min-width: 550px) and (max-width: 760px) {
    .main .productos .row div img {
      width: 12.5rem;
      height: 12.5rem; } }

.main .marcas h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 10px auto;
  padding: 0;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 3px; }

.main .marcas .carousel {
  width: 100%;
  margin-bottom: 30px; }
  .main .marcas .carousel .carousel-indicators {
    margin-bottom: -2rem; }
    .main .marcas .carousel .carousel-indicators button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ccc;
      border: 1px solid #ccc;
      margin-bottom: 10px; }
  .main .marcas .carousel .carousel-inner .carousel-item div img {
    max-width: 100%; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .main .marcas .carousel .carousel-inner .carousel-item div img {
        margin: 10px auto; } }

.main .contactanos h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 10px auto;
  padding: 0;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 3px; }

.main .contactanos iframe {
  width: 100%;
  height: 312px; }

.main .contactanos .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .main .contactanos .row .contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .main .contactanos .row .contacto p {
      font: size 14px;
      color: #888;
      font-weight: 200;
      font-family: "PT Serif", serif;
      margin-left: 5px; }
    .main .contactanos .row .contacto i {
      font-size: 25px;
      color: #007bff; }

.main .contactanos .contact-form .contactForm .form .contact-form__div {
  margin: 10px auto; }
  .main .contactanos .contact-form .contactForm .form .contact-form__div .contact-form__input:focus, .main .contactanos .contact-form .contactForm .form .contact-form__div .contact-form__textarea:focus {
    transition: 0.4s;
    padding: 8px 0px 5px;
    background: lightgrey; }
  .main .contactanos .contact-form .contactForm .form .contact-form__div .contact-form__input--activo {
    background: #78e08f;
    width: 100px;
    color: white;
    font-weight: 300;
    border: 2.5px solid white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    transition: 0.3s;
    font-size: 85%;
    letter-spacing: 1.5px;
    font-family: Arial;
    cursor: pointer; }
    .main .contactanos .contact-form .contactForm .form .contact-form__div .contact-form__input--activo:hover {
      background-color: #57A167;
      color: white; }
    @media screen and (max-width: 600px) and (min-width: 320px) {
      .main .contactanos .contact-form .contactForm .form .contact-form__div .contact-form__input--activo {
        width: 90%; } }

.footer .seccionVerde {
  height: 100%;
  background-color: #57A167;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer .seccionVerde .divEnLinea {
    width: 24rem;
    height: auto;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .footer .seccionVerde .divEnLinea img {
      width: 30%;
      margin: 5px auto; }
    .footer .seccionVerde .divEnLinea p {
      padding: 1rem 1.2rem;
      margin: 0 auto;
      line-height: 1.8rem;
      font-family: 'PT Serif', serif;
      font-size: 14px;
      text-align: center; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .footer .seccionVerde .divEnLinea p {
          padding: 1rem 1.2rem;
          margin: 0 auto;
          line-height: 1.8rem;
          font-family: 'PT Serif', serif;
          font-size: 16px;
          text-align: center; } }
    .footer .seccionVerde .divEnLinea h4 {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      margin: 10px auto;
      padding: 0;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .footer .seccionVerde .divEnLinea h4 {
          text-align: center;
          font-family: "Open Sans", sans-serif;
          margin: 10px auto;
          padding: 0;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0px; } }
    .footer .seccionVerde .divEnLinea div i {
      font-size: 18px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .footer .seccionVerde .divEnLinea div i {
          font-size: 19px; } }
    .footer .seccionVerde .divEnLinea div h5 {
      text-align: center;
      font-family: "PT Serif", serif;
      margin: 10px auto;
      padding: 0;
      font-size: 15px;
      font-weight: 200;
      letter-spacing: 0px; }
      @media screen and (min-width: 320px) and (max-width: 767px) {
        .footer .seccionVerde .divEnLinea div h5 {
          text-align: center;
          font-family: "PT Serif", serif;
          margin: 10px auto;
          padding: 0;
          font-size: 16px;
          font-weight: 200;
          letter-spacing: 0px; } }
    @media screen and (min-width: 320px) and (max-width: 828px) {
      .footer .seccionVerde .divEnLinea .social-media {
        display: none; } }
    .footer .seccionVerde .divEnLinea .social-media .redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .footer .seccionVerde .divEnLinea .social-media .redes a {
        padding: 5px; }
        .footer .seccionVerde .divEnLinea .social-media .redes a i {
          color: white;
          width: 20px; }
    .footer .seccionVerde .divEnLinea .social-media .redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .footer .seccionVerde .divEnLinea .social-media .redes a {
        padding: 5px; }
        .footer .seccionVerde .divEnLinea .social-media .redes a i {
          color: white;
          width: 20px; }

.footer .cajaWhatsapp {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 90px;
  right: 30px; }
  .footer .cajaWhatsapp a img {
    width: 40px; }

.footer .contain {
  text-align: center; }
  .footer .contain h5 {
    text-align: center;
    font-family: "PT Serif", serif;
    margin: 10px auto;
    padding: 0;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0px; }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .footer .contain h5 {
        text-align: center;
        font-family: "PT Serif", serif;
        margin: 10px auto;
        padding: 0;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 0px; } }

.scrollup {
  position: fixed;
  right: 1.3rem;
  bottom: -20%;
  background-color: #78e08f;
  color: white;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: 10;
  transition: .4s; }
  .scrollup:hover {
    opacity: 0.7; }
  .scrollup .scrollup__icon {
    font-size: 1.5rem;
    color: #fff; }

/* Show scroll */
.show-scroll {
  bottom: 2rem; }

body main section h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 10px auto;
  padding: 0;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0px; }

body main section .principal p {
  padding: 1rem 1.2rem;
  margin: 0 auto;
  line-height: 1.8rem;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  text-align: center; }

body main .valores .row .div-valores {
  width: 24rem;
  height: auto;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto; }
  body main .valores .row .div-valores h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px auto;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px; }
  body main .valores .row .div-valores p {
    padding: 1rem 1.2rem;
    margin: 0 auto;
    line-height: 1.8rem;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: center; }

body main section h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 10px auto;
  padding: 0;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 0px; }

body main .seccionVerde {
  height: 100%;
  background-color: #57A167;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  body main .seccionVerde .divEnLinea {
    width: 20rem;
    height: auto;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column; }
    body main .seccionVerde .divEnLinea .anim {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      margin: 10px auto;
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0px;
      animation-name: mianim;
      animation-duration: 4s;
      animation-delay: 1s;
      position: relative;
      animation-timing-function: ease;
      animation-iteration-count: 2; }

@keyframes mianim {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 10px;
    top: 0px; }
  50% {
    left: 10px;
    top: 10px; }
  75% {
    left: 0px;
    top: 10px; }
  100% {
    left: 0px;
    top: 0px; } }
    body main .seccionVerde .divEnLinea h4 {
      text-align: center;
      font-family: "Open Sans", sans-serif;
      margin: 10px auto;
      padding: 0;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0px; }
    body main .seccionVerde .divEnLinea a {
      text-decoration: none;
      color: white; }

body main section .formulario {
  width: 50%;
  margin-top: 40px; }
  @media (max-width: 990px) {
    body main section .formulario {
      width: 100%;
      margin-top: 40px; } }
  @media (min-width: 768px) {
    body main section .formulario {
      width: 50%; } }
  body main section .formulario div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px; }
    body main section .formulario div input {
      margin-bottom: 20px;
      transition: all 0.4s; }
      body main section .formulario div input:focus {
        background: lightgrey;
        padding: 10px; }
  body main section .formulario .submit input {
    background: #78e08f;
    width: 110px;
    color: white;
    font-weight: 300;
    border: 2.5px solid white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    transition: 0.3s;
    font-size: 85%;
    letter-spacing: 1.5px;
    font-family: Arial;
    cursor: pointer;
    margin: 20px auto; }
    @media screen and (max-width: 600px) and (min-width: 320px) {
      body main section .formulario .submit input {
        width: 100%; } }
    body main section .formulario .submit input:hover {
      background-color: #57A167;
      color: white; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  background-color: white; }
  body .imagenes .container .row div .carousel .carousel-inner {
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    border: 0.5px solid rgba(141, 141, 141, 0.94);
    border-radius: 8px;
    background: #FFFFFF; }
    body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card {
      height: 40rem;
      background: #FFFFFF; }
      body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card .card-img-top {
        height: 50vh;
        transition: 1s;
        object-fit: cover; }
        body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card .card-img-top:hover {
          transform: scale(1.1); }
      body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; }
        body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card .card-body h5 {
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          font-size: 20px;
          text-align: center; }
        body .imagenes .container .row div .carousel .carousel-inner .carousel-item .card .card-body p {
          margin: 0 auto;
          line-height: 1.8rem;
          font-family: "PT Serif", serif;
          font-size: 1.1rem;
          font-text-align: center; }
  body .imagenes .container .row div .carousel button span {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 30vh;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    border-radius: 20%; }
