@import "mixins";
@import"variables";

.main{
    .carousel-index{
        .carousel{
            .carousel-inner{
                width: 100%;
                .carousel-item{
                    img{
                        width: 1001px;
                        height:350px;
                        @media screen and (min-width:320px) and (max-width:767px){
                            height:50vh;
                        }
                    }
                    div{
                        h5{
                            @include headings(0px,$fuenteHeadings,20px,600);
                            text-shadow:1px 3px 3px black, 0 0 1em $colorPrincipal, 0 0 0.2em;
                            @media screen and (min-width:320px) and (max-width:767px){
                                margin:-5px auto;
                            }
                        }
                    }   p{
                            @include headings(0px,$fuenteHeadings,16px,200);
                            text-shadow:1px 1px 2px black, 0 0 1em $colorPrincipal, 0 0 0.2em;
                    }
                }
            }
        }
    }
    .servicios{
        .container-fluid{
            .seccionVerde{
                @include seccionVerde;
                .divEnLinea{
                    @include divEnLinea(24rem);
                    i{
                        font-size: 25px;
                        padding: 15px 0;
                        color: white;  
                    }
                    h3{
                        @include headings(0px,$fuenteHeadings,20px,800);
                    }

                }

            }
        }
    }
    .productos{
        h2{
            @include headings(3px,$fuenteHeadings,25px,900);
        }
        .row{
            div{
                .hover{
                    width:200px;
                    height:200px;
                    position: relative;
                    &:before,&:after{
                        content:"";
                        width:200px;
                        height:200px;
                        position: absolute;
                        top:0;
                        left:0;
                        background-color:white;
                        opacity: 0.3;
                        transition: all 500ms;
                    }    
                    &:before{
                        transform:rotate(90deg) translateY(-98px) translateX(0px);
                        
                    }
                    &:after{
                        transform:rotate(90deg) translateY(98px) translateX(0px);
                        
                    }
                    &:hover::before{
                        transform:rotate(90deg) translateY(-180px) translateX(0px);
                        
                    }
                    &:hover::after{
                        transform:rotate(90deg) translateY(180px) translateX(0px);
                        
                    }
                    &:hover{
                        h4{
                            transform: translate(-50%, -50%) scale(1);
                            
                        }
                    }    
        
                }

                    h4{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        color:white;
                        text-transform: uppercase;
                        font-weight:bold;
                        font-family: $fuenteHeadings;
                        text-shadow:10px 10px 30px 10px black;
                        font-size: 18px;
                        z-index:2;
                        transition: all 500ms;
                        text-shadow:1px 1px 2px black, 0 0 1em $colorPrincipal, 0 0 0.2em $colorPrincipal;
                    }
                    img{
                    width:195px;
                    height:197px;
                    border-radius:1.2rem;
                    object-fit: cover;
                    @media screen and (min-width:550px) and (max-width:760px){
                    width: 12.5rem;
                    height: 12.5rem;
                    }
                    }




                }
                
            }
                

                        
        }
    .marcas{
        h2{
            @include headings(3px,$fuenteHeadings,25px,900);
        }
        .carousel{
            width:100%;
            margin-bottom:30px;
            .carousel-indicators{
                margin-bottom:-2rem;
                button{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #ccc;
                    border: 1px solid #ccc;
                    margin-bottom: 10px;
                }
            }
            .carousel-inner{
                .carousel-item{
                        div{
                            img{
                                max-width: 100%;
                                @media screen and (min-width:320px) and (max-width:767px){
                                margin:10px auto;
                                }
        
                            }

                        }


                    }
                    
                        
                    }
                }
            }
        
    
    .contactanos{
        h2{
            @include headings(3px,$fuenteHeadings, 25px, 900);
        }
        iframe{
            width: 100%;
            height:312px;
        }
        .row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            .contacto{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                p{
                    font: size 14px;
                    color: #888;
                    font-weight: 200;
                    font-family: $fuenteParrafo;
                    margin-left:5px;
                }
                i{
                    font-size: 25px;
                    color: #007bff;
                    
                }
            }
        }        
        .contact-form {
            .contactForm{
                .form{
                    .contact-form__div{
                        margin:10px auto;
                        .contact-form__input,.contact-form__textarea{
                            &:focus{
                                transition: 0.4s;
                                padding: 8px 0px 5px;
                                background:lightgrey;
                            }
                        }
                        .contact-form__input--activo{
                            @include estiloBotones(100px);
                            @media screen and (max-width:600px) and (min-width:320px){
                                width: 90%;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}




