@import"variables";
@import"header";
@import"mainIndex";
@import"footer";
@import"mainNosotros";
@import"mainNovedades";

@import "mainContacto";



*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:1px solid black;
    }
    
body{
    color: #444;
    font-family:'Open Sans', sans-serif;
    background-color: white;
    .imagenes{
        .carouseles{
            //display: flex;
            //flex-direction: row;
            //flex-wrap: wrap;
            //justify-content: space-between;
            //align-items: center;
            .carousel{
                .carousel-inner{
                    width: 100%;
                    .container{
                        .row{
                            div{
                                .carousel-item{
                                    height: 100vh;
                                    box-shadow:0px 0px 30px rgba(127, 137, 161, 0.3) ;
                                    border: 1px solid slategray;
                                        .card{
                                            height: 200px !important;
                                            .card-img-top{
                                                height: 50vh; 
                                                transition: 1s;
                                                &:hover{
                                                transform: scale(1.2);
                                                }
                                            .card-body{
                                                h5{
                                                    font: {
                                                    family:'Open Sans', sans-serif;
                                                    weight:bold;
                                                    }
                                                    text-align: center;
                                                }
                                                p{
                                                padding:1rem 1.2rem;
                                                margin: 0 auto;
                                                line-height: 1.8rem;
                                                font: {
                                                    family:$fuenteParrafo;
                                                    size:1.1rem;
                                                }
                                                text-align: center; 
                                                }
                                            }
                                            }   
                                        }
                                }
                            }
                        }
                    }
                }
                .controls-top{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content:space-evenly;
                    a{
                        align-self: center;
                        i{
                            font-size: 30px;
                            color: $colorPrincipal;
                            border-radius: 10%;
                            position: relative;
                            bottom:60px;  
                        }
                    }
                }
            } 
        }
    }
}



//estilos carousel productos



